@import "./variables.scss";

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    overflow: hidden;
}

.black-title {
    margin-bottom: 25px;
    /* padding-right: 20px; */
    font-size: 44px;
    font-family: "Domine", serif;  
    line-height: 60px; 
}


.small-title{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
        color: #333;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        text-transform: capitalize;
}
.fa-star, .fa-star-half{
    color: gold;
}



.text-primary{
    color: $main-color !important;
    font-family: Mrs Saint Delafield;

}
#owl-carousel-testimonials .item img {
    width: auto !important;
}
#ready{
    text-align: center;
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    background-color: #1b1c1e;
}

#topBtn{
    cursor: pointer;
    z-index: 99999;
    display: none;
}

a{
    text-decoration: none !important;
}

a:focus{
    box-shadow: none !important;
}

i, img{
    cursor: pointer;
}

.main-color{
    color: $main-color;
}
.main-bg{
    background-color: $main-color;
}


.main-btn{
    background-color: $main-color;
    color: #fff;
    border: 1px solid $main-color;
}
.main-btn:hover{
    background-color: transparent;
    color: $main-color;
}
.second-btn{
    background-color: transparent;
    color: $main-color;
    border: 1px solid $main-color;
}
.second-btn:hover{
    background-color: $main-color;
    color: #fff;
}


.page-header{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/aboutus/detail-main-bg.jpg");
    height: 350px;
    padding-top: 150px;
    text-align: center;
    margin-bottom: 120px;
  }
  
  
  /* bread crumbs ============== */
  .bread-crumbs{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul.bread-crumbs{
    padding: 0;
    margin: 0;
  }
  ul.bread-crumbs li{
    list-style: none;
  }
  .bread-crumbs li {
    margin: 0 13px;
    font-size: 16px;
    line-height: 170%;
    color:  $main-color;
    position: relative;
  }
  
  .bread-crumbs li a:after {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: -15px;
    content: "-";
    color: #666;
  }
  .bread-crumbs li a {
    color: #666;
  }
/*  end of bread crumbs===============*/


// icons footer

.icons-footer a{
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.6);

}
.icons-footer a .fa-facebook-f{
    color: #006eff;
}
.icons-footer a .fa-twitter{
    color: #1da1f2;
}
.icons-footer a .fa-instagram{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}
.icons-footer a .fa-linkedin-in{
    color: #0077b5;
}

.second-btn, .main-btn{
    border-radius: 50px !important;
}


// galary section ============================================
   
.gallery{
    margin-bottom: 120px;

}
.gallery .img-gallery{
    background: #FFFFFF !important;
    border: 1px solid rgba(153, 153, 153, 0.15);
    box-shadow:0px 0px 8px rgba(153, 153, 153, 0.15);
    border-radius: 8px;
    height: 260px;
    overflow: hidden;
}
.gallery .img-gallery img{
    width: 100%;
    transition: all 0.5s;
}
.gallery .img-gallery:hover img{
    transform: scale(1.15,1.15);
}
.gallery h4{
    text-transform: capitalize;
    transition: all 0.5s;
    cursor: pointer;
}
.gallery:hover.gallery h4{
    color: var(--mainColor) !important;
}

/*Responsive sample section */

@media screen and (max-width: 992px){
    .gallery .img-gallery img{
        width: 250px;
    }
}
